body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: hsla(212, 74%, 47%, 0.608);
  }
.imageNav-header{
    color: rgb(14, 154, 58) 
}

.navbar{
    margin-bottom: 40px;

}

#temp-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

#temp-image1{
    width: 450px;
    height: 400px;
    margin: 10px;
    
}



.imageNav-photo{
    width: 150px;
    height: 150px;
    margin: 5px;
}


#figure {
    position: relative;
  }

#image{
    width: 500px;
    height: 400px;
    position: relative; 
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 20px;
}



.col-md-7{
    margin-top: 40px;
    margin-right: 10px;
}
.col-md-4{
    margin-top: 40px;
   
}

.table{
    table-layout: fixed;
    width: 100%;
}

h3{
    margin-top: 10px;
}

.navbar-brand{
    -webkit-text-fill-color: crimson;
   
}

.display-5{
    -webkit-text-fill-color: rgb(14, 144, 66);
}

